
.meunome { 
    font-size: 45px;
    text-align: center;
  font-family: 'Cormorant SC', serif;
font-family: 'Ibarra Real Nova', serif;
}
  body {
    background-color: gray;
    padding: 3%;
  }


.Apresentação {
    position: absolute;
    top:30%;
    left: 40%;
    
}

.sobre {
    position: absolute;
    top: 2%;
    left: 40%;
    
}

#foto {
    float: left;
    height:  300px;

    padding: 10px 10px;
    background-color:whitesmoke

}

.imagecontainer {
    height: 350px;
    position: relative;
}

/*div {
    border: 2px solid green;
}*/

ul li:nth-child(odd){
    background-color: antiquewhite;
}

.corlink:hover {
    color: rgb(47, 0, 255);
   font-weight: bold;
   
}
.font {
    font-size: 19px;
}
.h4a {
    font-size: 19px;
    color: navy;
}
.softhard:hover {
    background-color: blueviolet;

}
/*
.ajustefinal {
    font-size: 25px;
   position: absolute;
    left: 80%;
}*/
.fonte {
    font-size: 30px;
}

.tudo {
width: 850px
}